/* margin: top | right | bottom | left */

section {
    margin: 0 auto 50px;
}

div {
    height: 180px;
    width: 300px;
    margin:auto;
}

span {
    height: 180px;
    width: 100px;
    float: left;
}

/* GERMAN FLAG */

.german div {
    height: 60px;
}

.top {
    background-color: black;
}

.middle {
    background-color: red;
}

.bottom {
    background-color: yellow;
}

.german:hover > .top {
    background-color: red;
}

.german:hover > .middle {
    background-color: white;
}

.german:hover > .bottom {
    background-color: green;
}


/* FRENCH FLAG */


.left {
    background-color: blue;
}

.right {
    background-color: red;
}

.french:active > .left {
    background-color: green;
}

.french:active > .right {
    background-color: orange;
}